//top_page

.main_vitual {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: image-url("homes/mainvituals/egg-sandwich.jpg");
    background-size: cover;
    background-position: under;
    background-repeat: no-repeat;
}

.pc-character {
    position: absolute;
    top: 30px;
    left: 500px;
    padding: 20px;
}

.sm-character {
    display: none;
}

.app_title {
    position: absolute;
    top: 430px;
    left: 200px;
    font-size: 200px;
    border-radius: 10px;
    background-color: #f0e68c;
}


.sign_up_balloon {
    position: absolute;
    top: 60px;
    left: 400px;
}


.log_in_balloon {
    position: absolute;
    top: 60px;
    right: 360px;
}

.sign_up_balloon:hover {
    position: absolute;
    top: 40px;
    left: 400px;
}

.log_in_balloon:hover {
    position: absolute;
    top: 40px;
    right: 360px;
}

.sign_up_balloon:active {
    position: absolute;
    top: 50px;
    left: 400px;
}


.log_in_balloon:active {
    position: absolute;
    top: 50px;
    right: 360px;
}

//top-page スマホ画面
@media screen and (max-width:425px) {

    .top {
        margin-top: 130px !important;
    }

    .main_vitual {
        height: 550px;
        background-image: image-url("homes/mainvituals/egg-sandwich.sm.jpg");
    }


    .app_title {
        position: absolute;
        top: 30px;
        left: 60px;
        font-size: 50px;
        border-radius: 10px;
        background-color: #f0e68c;
    }

    .pc-character,
    .sign_up_balloon,
    .log_in_balloon {
        display: none;
    }

    .sm-character {
        display: inline-block;
    }

    .sm_character_img {
        width: 100%;
        height: auto;
    }

    .sm-character {
        position: absolute;
        top: 120px;
        left: 10px;
    }


}

//about_section

.about {
    background-image: image-url("homes/about/egg-background-sozai-sample.png");
    border-top: 5px dotted #8b4513;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.about::after {
    content: "";
    display: block;
    clear: both;
}

.first_about_image {
    float: left;
    margin-left: 80px;
}

.first_about_message {
    float: left;
    margin: 60px 0 110px 50px;

}

.first_about_message h3 {
    font-size: 40px;
}

.first_about_message p {
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ffd700;
}


.first_about_message p:nth-of-type(3) {
    background-color: #ff6347;
    border-radius: 5px;
}


.second_about_image {
    float: right;
}

.about_second_img {
    width: 640px;
    height: 390px;
}

.concluding_part {
    margin-right: 80px;
}

.second_about_message {
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    padding: 3px;
}

.second_about_message h3 {
    font-size: 30px;
}

.second_about_message p {
    display: inline-block;
    font-size: 18px;
    background-color: #ffd700;
    border-radius: 5px;
    display: inline-block;
}

.second_about_message p:nth-of-type(2) {
    background-color: #ff6347;
    border-radius: 5px;
}

@media screen and (max-width:425px) {



    .first_about_image {
        margin-left: 0;
    }

    .about_img {
        width: 100%;
        height: auto;
    }



    .first_about_message {
        width: 100%;
        margin: 50px 0;
        text-align: center;
    }

    .first_about_message h3 {
        margin: 10px 0;
        font-size: 25px;
    }

    .first_about_message h3 {
        margin: 10px 0;
        font-size: 25px;
    }

    .first_about_message p {
        display: inline-block;
        font-size: 15px;
    }

    .first_about_message p:nth-of-type(3) {
        font-size: 13px;
        border-radius: 5px;
        background-color: #ff6347;
    }

    .concluding_part {
        width: 100%;
    }

    .second_about_message {
        margin: 50px 0;
        text-align: center;
    }

    .second_about_message h3 {
        font-size: 23px;
    }

    .second_about_message p:nth-of-type(2) {
        font-size: 15px;
    }


    .about_second_img {
        float: none;
        width: 100%;
        height: auto;
    }



}


//category_index

.category_wrapper {
    border-top: 5px dotted #8b4513;
    background-image: image-url('homes/categories/publicdomainq-0030527cvuiyk.png');
    padding-bottom: 50px;
}


.category_wrapper ul:after {
    content: "";
    display: block;
    clear: both;

}

.category_wrapper ul {
    margin: 0 120px;
}

.category_section_title {
    font-size: 60px;
    text-align: center;
    margin: 20px;
}

.secition_title_kana {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
}

.category_wrapper p:nth-of-type(2) {
    text-align: center;
    color: #000;
    font-size: 20px;
}



.category_list li {
    float: left;
    margin-bottom: 20px;
}

.category_img {
    width: 300px;
    height: 200px;
    background-image: image-url('no_image/no_image.jpg');
    background-size: cover;
}



.category_list>ul>li:nth-of-type(1)>.category_item>.category_img {
    background-image: image-url('homes/categories/meat.jpg');
}

.category_list>ul>li:nth-of-type(2)>.category_item>.category_img {
    background-image: image-url('homes/categories/vegetables.jpg');
}

.category_list>ul>li:nth-of-type(3)>.category_item>.category_img {
    background-image: image-url('homes/categories/fish_yellow.png');
}

.category_list>ul>li:nth-of-type(4)>.category_item>.category_img {
    background-image: image-url('homes/categories/begginer.jpg');
}

.category_list>ul>li:nth-of-type(5)>.category_item>.category_img {
    background-image: image-url('homes/categories/time.jpg');
}

.category_list>ul>li:nth-of-type(6)>.category_item>.category_img {
    background-image: image-url('homes/categories/japanese.jpg');
}

.category_list>ul>li:nth-of-type(7)>.category_item>.category_img {
    background-image: image-url('homes/categories/restaurant.jpg');
}

.category_list>ul>li:nth-of-type(8)>.category_item>.category_img {
    background-image: image-url('homes/categories/china.jpg');
}

.category_list>ul>li:nth-of-type(9)>.category_item>.category_img {
    background-image: image-url('homes/categories/don.jpg');
}

.category_list>ul>li:nth-of-type(10)>.category_item>.category_img {
    background-image: image-url('homes/categories/okazu.jpg');
}

.category_list>ul>li:nth-of-type(11)>.category_item>.category_img {
    background-image: image-url('homes/categories/dessert.jpg');
}

.category_list>ul>li:nth-of-type(12)>.category_item>.category_img {
    background-image: image-url('homes/categories/bentoubako.jpg');
}

.category_wrapper li:hover .category_img {
    transform: scale(1.5);
    transition: 0.5s;
    border: 3px solid #ffd700;
}

.category_item:hover {
    text-decoration: none;
}

@media screen and (max-width:425px) {

    .category_section_title {
        font-size: 50px;
    }

    .category_wrapper ul {
        margin: 0 30px;
    }

    .category_list li {
        width: 50%;
    }

    .category_list>ul>li:nth-of-type(3)>.category_item>.category_img {
        background-position: left;
    }

    .category_img {
        width: 150px;
        height: 150px;
        background-position: center;
    }

}

//Ranking(Top_page)

.recipe_ranking {
    padding: 10px 0;
    background-color: #fffacd;
    border-top: 5px dotted #8b4513;
    border-bottom: 5px dotted #8b4513;
}

.recipe_ranking li {
    width: 250px;
}

.recipe_ranking h1 {
    font-size: 60px;
    text-align: center;
    overflow: auto;
}

.recipe_ranking ul {
    list-style: disc;
    padding-left: 40px;
}

.recipe_ranking ul:after {
    content: "";
    display: block;
    clear: both;
}

.recipe_ranking li {
    position: relative;
    float: left;
    margin: 0 10px;
}


//rankng-hover

//hoverすると鶏出現するcss
.hover_item {
    position: absolute;
    top: -100px;
    right: 5px;
    display: none;
}

.recipe_ranking li:hover .hover_item {
    display: block;
}

.recipe_ranking li:hover .rank {
    transform: rotate(360deg);
}


.rankin_user_img {
    position: absolute;
    top: 220px;
    left: 5px;

}

.rankin_user_name {
    font-size: 20px;
    margin-left: 100px;
}

.rankin_recipe_name {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.rank {
    position: absolute;
    top: -20px;
    left: 110px;
    background-color: #ffc0cb;
    padding: 20px 5px 5px 13px;
    border-radius: 10px;
    transition: transform 500ms ease;
    display: block;
    width: 50px;
    height: 60px;
    background-color: #ffc0cb;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}


.ranking_item {
    color: #000;
}

.ranking_item:hover {
    color: #000;
}


.ranking_list>ul>li:first-of-type>.ranking_item>.rank {
    background-color: #ffd700;
}

.ranking_list>ul>li:nth-of-type(2)>.ranking_item>.rank {
    background-color: #c0c0c0;
}

.ranking_list>ul>li:nth-of-type(3)>.ranking_item>.rank {
    background-color: #8b4513;
    color: #fff;
}

@media screen and (max-width:425px) {


    .recipe_ranking h1 {
        font-size: 40px;
    }

    .recipe_ranking ul {
        width: 350px;
        margin: 30px auto;
    }

    .recipe_ranking li {
        width: 250px;
        margin-bottom: 70px;
    }

    .ranking_list>ul>li:nth-of-type(2)>.ranking_item>.rank {
        background-color: #c0c0c0;
    }

    .ranking_list>ul>li:nth-of-type(3)>.ranking_item>.rank {
        background-color: #8b4513;
        color: #fff;
    }
}