<h1>編集フォーム</h1>
  <%= form_for(@user) do |f|, url: edit_users_user_path do%>
    <h4 class="profile-name">Name</h4><%= f.text_field :name %>

  <% end %>
<%= link_to " マイページ", users_user_path(current_user.id) %>