<div class="container">
  <div class="row">  
    <h1>Profile<h1>
    
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpeg"%>
    <%= @user.name %>
    <%= @user.introduction %>
    </div>
</div>
<%= link_to " 会員編集", edit_users_user_path(current_user.id) %>