<div class="container">
  <div class="row">  
  <div class="col-xs-offset-4">
    <h1>Profile</h1>
    
    <p><%= attachment_image_tag @user, :profile_image, :fill, 300, 300, format: "jpeg", class: "profile_image" %>
    <lavel class="user-name">
     <span>I am</span>
     <%= @user.name %></lavel><br></p>
     <p class="user-introduction"><%= @user.introduction %></p>
    </div>
</div>
</div>
<%= link_to " 会員編集", edit_users_user_path(current_user.id) %>