
//*= require_tree .
//*= require_self


//ヘッダーレイアウト

header {
  box-shadow: 0 3px 5px 0 #000;
}

.header_inside {
  height: 150px;
  text-align: center;
  background-color: #fff;
}

.header_outside {
  height: 20px;
  background-color: #ffd700;
}


//Tamagozitenロゴ

.logo{
  text-align: center;
}

.logo_link {
  color: #000;
}

.logo_link:hover {
  color: #000;
}


//ナビアイテム

.header_inside>.pc_nav_wrapper>ul>li {
  float: left;
  width: 25%;
  margin-top: 20px;
  border-right: 1px double #000;
}

.nav_item {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: #000;
}

.nav_item:hover {
  background-color: #ffd700;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  margin-top: -5px;
}


//検索フォーム

.search {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.search_form {
  padding: 5px 10px;
}

.search_form:focus {
  border: 3px #ffa500 solid;
  outline: 0;
}

.search_btn {
  background-color: #f0e68c;
  padding: 8px;
  margin-left: -10px;
}