//*= require_tree .
//*= require_self


#hm_icon,
#sm-nav,
.sm-header {
  display: none;
}


//ヘッダーレイアウト


.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 3px 5px 0 #000;
}

.header_inside {
  height: 150px;
  text-align: center;
  background-color: #fff;
}

.header_outside {
  height: 20px;
  box-shadow: 0 3px 5px 0 #000;
  background-color: #ffd700;
}



//Tamagozitenロゴ

.logo {
  margin-top: 0;
  text-align: center;
}

.logo_link {
  color: #000;
}

.logo_link:hover {
  color: #000;
}


//ナビアイテム

.header_inside>.pc_nav_wrapper>ul>li {
  float: left;
  width: 25%;
  margin-top: 20px;
  border-right: 1px double #000;
}

.nav_item {
  display: inline-block;
  padding: 10px;
  color: #000;
  font-size: 20px;
}

.nav_item:hover {
  margin-top: -5px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ffd700;
  transition: 0.3s;
}


//検索フォーム

.search {
  float: right;
  margin: -40px 20px 0 0;
}

.search_form {
  padding: 5px 10px;
}

.search_form:focus {
  outline: 0;
  border: 3px #ffa500 solid;
}

.search_btn {
  padding: 8px;
  margin-left: -10px;
  background-color: #f0e68c;
}



//ヘッダースマホ対応

@media screen and (max-width:480px) {


  .header_inside {
    height: 120px;
    padding-bottom: 50px;
    margin: 0 0 -50px 0;
    text-align: center;
    background-color: #fff;
  }

  .header_outside {
    box-shadow: none;
    margin-top: 50px;
  }

  .logo {
    padding-top: 30px;
    font-size: 30px;
  }

  .header_inside>.pc_nav_wrapper>ul .search_area {
    margin: 50px 60px 0 0;
  }


  .pc_nav_wrapper {
    display: none;
  }

  .tool {
    margin-top: 50px;
    margin-right: 50px;
  }

  // メニューハンバーガーアイコン



  #hm_icon {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 10;
    display: inline-block;
  }



  .sm_nav_wrapper h2 {
    text-align: center;
  }

  .menu_trigger,
  .menu_trigger span {
    display: inline-block;
    transition: all .4s;
  }

  .menu_trigger {
    position: relative;
    width: 45px;
    height: 39px;
  }

  .menu_trigger span {
    position: absolute;
    left: 0;
    width: 90%;
    height: 4px;
    background-color: #ffa500;
    border-radius: 4px;
  }

  .menu_trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu_trigger span:nth-of-type(2) {
    top: 12px;
  }

  .menu_trigger span:nth-of-type(3) {
    bottom: 10px;
  }

  .menu_trigger.active span:nth-of-type(1) {
    background-color: #ffa500;
    -webkit-transform: translateY(7px) rotate(-45deg);
    transform: translateY(7px) rotate(-45deg);
  }

  .menu_trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu_trigger.active span:nth-of-type(3) {
    background-color: #ffa500;
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }

  #sm-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
    width: 100%;
    min-height: 100%;
    color: #000;
    background-color: #fff;
  }

  .sm-nav ul {
    margin-top: 50px;
  }

  .sm-nav li {
    margin-bottom: 20px;
    text-align: center;
  }

  .sm_nav_wrapper h2 {
    font-size: 50px;
  }

  .nav_pic {
    margin: 10px 0 0 50px;
    width: 300px;
    height: 200px;
  }

}