
<div class="start">
<div class="container">
<div class="row">
<div class="col-sm-5 col-md-8 col-lg-10">
  <p>
    <%= image_tag('hiyoko-i7.png') %>
  　　　</p>
  <h1 class="app-title">たまご辞典</h1>
  </div>
  </div>
  </div

</div>