/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets"; 
 @import "bootstrap"; 
 @import "font-awesome";

*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
   font-family: 'HanziPen TC',sans-serif;
   
}

//lonin_pagesignup　page(devise)
.devise_win{
   margin-top: 40px;
}
.field{
   margin: 5px 0 10px 0;
}

.form-control:focus{
border: 4px groove #ffa500;
 outline: 0;
 box-shadow: none;
}

.btn{
   padding: 10px 40px;
   border-radius: 50px;
}

.devise-title{
   font-style: bold;
}

.login{
   border: 1px solid orange;
   color: orangered;
   margin: 10px 0 0 120px;
}
.signup{
   margin: 10px 0 0 120px;
   color: orangered;
   border: 1px solid orange
}


.login:hover{
background-color: orangered;
color: #fff;
}

.signup:hover{
background-color: orangered;
color: #fff;
}

//top_page
.test1 {
background-image: url(test1.jpg);
}
.test2 {
background-image: url(test2.jpg);
}
.test3 {
background-image: url(test3.jpg);
}
.test4 {
background-image: url(test4.jpg);
}
.test5 {
background-image: url(test5.jpg);
}
 
 #a{
    height: 500px;
    
} 
 .container{
     margin-top: 50px;
     
 }

 // recipe_bookmark_page(user_show)
 .bookmark-image{
    float: left;   
}

 .detail{
    margin: 30px;
}


.name{
  font-size: 50px;
}
.description{
  font-size: 30px;
}


