/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets"; 
 @import "bootstrap"; 
 @import "font-awesome";

*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
   font-family: 'HanziPen TC',sans-serif;
   
}

//lonin_pagesignup　page(devise)
.devise_win{
   margin-top: 40px;
}
.field{
   margin: 5px 0 10px 0;
}

.form-control:focus{
border: 4px groove #ffa500;
 outline: 0;
 box-shadow: none;
}

.btn{
   padding: 10px 40px;
   border-radius: 50px;
}

.devise-title{
   font-style: bold;
}

.login{
   border: 1px solid orange;
   color: orangered;
   margin: 10px 0 0 120px;
}
.signup{
   margin: 10px 0 0 120px;
   color: orangered;
   border: 1px solid orange
}


.login:hover{
background-color: orangered;
color: #fff;
}

.signup:hover{
background-color: orangered;
color: #fff;
}

//top_page
.test1 {
background-image: url(test1.jpg);
}
.test2 {
background-image: url(test2.jpg);
}
.test3 {
background-image: url(test3.jpg);
}
.test4 {
background-image: url(test4.jpg);
}
.test5 {
background-image: url(test5.jpg);
}
 
 #a{
    height: 500px;
    
} 
 .container{
     margin-top: 50px;
     
 }

 //mypage

.tabcontent{
   position: relative;
}

.user-edit{
    position: absolute;
    font-size: 30px;
    top: 210px;
    left: 160px;
    transform: rotate(-45deg);
}
 .show-modal{
    padding: 50px 70px;
    border-radius: 100px;
    position: absolute;
    top: -300px;
    left: 20px;
   
    
 }
  .show-modal:hover{
    padding: 50px 70px;
    border-radius: 100px;
    position: absolute;
    top: -320px;
    left: 20px;
    opacity: 0.7;
   
 }

 .hiyoko{
    position: absolute;
    top: 40px;
    right: 100px;
  
 }

  .hiyoko2{
   position: absolute;
    top: 90px;
    left: 100px;
  }
  //review-item

.recipe-review{
   width: 250px;
}
  
.recipe-review:nth-child(odd){
    border: 3px solid yellow;
}

.recipe-review:nth-child(even){
    border: 3px solid ;
}
.review-paragraph{

   margin:  50px 0 -10px 0;
}


 // recipe_bookmark_page(user_show)

.bookmark{
   border: #deb887 3px double;
}

 // my_recipe_page(user_show)

.myrecipe:nth-child(odd){
   border: #ffb6c1 3px double;
}

.myrecipe:nth-child(even){
   border: #f0e68c 3px double;
}


.myrecipe{
   border: #ffb6c1 3px double;
}

.myrecipe:nth-child(even):hover{
   border: #f0e68c  12px double;
   opacity: 0.7;
   transition: 0.1s;}

   .myrecipe:nth-child(odd):hover{
   border: #ffb6c1 12px double;
   opacity: 0.7;
   transition: 0.1s;
   }