/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "HanziPen TC", sans-serif;
}

header {
  box-shadow: 0 3px 5px 0 #000;
}

.a {
  background-color: #fff;
  height: 100px;
}

.b {
  background-color: #ffd700;
}

//top_page

.start {
  background-image: url("egg-sandwich.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-position: under;
  background-size: cover;
  position: relative;
  width: 100%;
  position: relative;
}

.start p {
  position: absolute;
  top: 30px;
  left: 500px;
  padding: 20px;
}

.app-title {
  font-size: 200px;
  background-color: #f0e68c;
  border-radius: 10px;
  position: absolute;
  top: 430px;
  left: 200px;
}

//lonin_pagesignup page(devise)

.field {
  margin: 5px 0 10px 0;
}

.form-control:focus {
  border: 4px groove #ffa500;
  outline: 0;
  box-shadow: none;
}

.btn {
  padding: 10px 40px;
  border-radius: 50px;
}

.devise-title {
  font-style: bold;
}

.login {
  border: 1px solid orange;
  color: orangered;
  margin: 10px 0 0 170px;
}

.signup {
  margin: 10px 0 0 160px;
  color: orangered;
  border: 1px solid orange;
}

.login:hover {
  background-color: orangered;
  color: #fff;
}

.signup:hover {
  background-color: orangered;
  color: #fff;
}

//error-message

.error {
  color: red;
}

.container {
  margin-top: 50px;
}

//mypage

.tabcontent {
  position: relative;
}

.user-edit {
  position: absolute;
  font-size: 30px;
  top: 210px;
  left: 160px;
  transform: rotate(-45deg);
}

.show-modal {
  padding: 50px 70px;
  border-radius: 100px;
  position: absolute;
  top: -300px;
  left: 20px;
}

.show-modal:hover {
  padding: 50px 70px;
  border-radius: 100px;
  position: absolute;
  top: -320px;
  left: 20px;
  opacity: 0.7;
  text-decoration: none;
}

.hiyoko {
  position: absolute;
  top: 40px;
  right: 100px;
}

.hiyoko2 {
  position: absolute;
  top: 90px;
  left: 100px;
}

// recipe_bookmark_page(user_show)

.heading-title {
  text-align: center;
  font-size: 70px;
}

.bookmark-heading-image {
  margin-left: 370px;
}

.bookmark:nth-child(even) {
  border: #deb887 5px double;
  float: left;
}

.bookmark:nth-child(odd) {
  border: #f0e68c 5px double;
  float: left;
}

.bookmark:nth-child(even):hover {
  border: #deb887 12px double;
  opacity: 0.7;
}

.bookmark:nth-child(odd):hover {
  border: #f0e68c 12px double;
  opacity: 0.7;
}

.bookmark-description {
  text-align: justify;
}

.bookmark-item {
  float: left;
  margin-left: 50px;
}

// my_recipe_page(user_show)

.myrecipe:nth-child(odd) {
  border: #ffb6c1 5px double;
  height: 300px;
}

.myrecipe:nth-child(even) {
  border: #f0e68c 5px double;
  height: 300px;
}

.myrecipe:nth-child(even):hover {
  border: #f0e68c 15px double;
  opacity: 0.7;
  transition: 0.1s;
}

.myrecipe:nth-child(odd):hover {
  border: #ffb6c1 15px double;
  opacity: 0.7;
  transition: 0.1s;
}

//carousel(recipe_show review）
//サムネイル増えても１列に並ぶよう配置

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.thumbs {
  width:1400px;
  position: relative;
  left: 0;
}

//carousel 矢印ボタン(recipe_show review）

.thunmb-nav a {
  display: block;
  position: absolute;
  bottom: 159px;
  width: 64px;
  height: 64px;
  background-image: url("recipe_show/yazirushi.png");
}

a.prev {
  left: 0;
  background-position: 0 64px;
  transform: rotate(180deg);
}

a.prev:hover {
  float: left;
  opacity: 0.7;
}

a.next {
  right: 0;
  background-position: 0 0;
}

a.next:hover {
  right: 0;
  opacity: 0.7;
}

a.next:hover {
  right: 0;
}