// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise_win{
   background-image: url('egg-top-pc.jpg');
   height: 800px;
   background-repeat: no-repeat;
   background-position: 500p;;
   background-size: cover;
   position: relative;
   width: 100%;
}

