
<div class="nested-fields", style="display: inline-block;">
  <tr>
  <td></td>
    <td><%= f.text_field :procedure_description, class: " fields-procrdures"%></td>
  </tr>



  <%= link_to_remove_association "×", f,  class: "form-delete" %>
  </div>