
<div class="nested-fields", style="display: inline-block;">
  <tr>
  <td></td>
    <td><%= f.text_area :procedure_description, class: "form-control"%></td>
  </tr>



  <%= link_to_remove_association "×", f %>
  </div>