<div class="nested-fields">
  <tr>
    <td><%= f.text_area :procedure_description, class: "fields-procedures"%>
      <%= link_to_remove_association "×", f , class: "form-delete"%>
    </td>
  </tr>
</div>