<div class="nested-fields">
<tr>
  <tb><%= m.text_field :material_name %></tb>
  <tb><%= m.text_field :material_quantity %></tb>
  <tb><%= link_to_remove_association "remove task", m %></tb>
</tr>
</div>